<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="./lib/vue-2.5.16.js"></script>
  <script src="./lib/axios-v0.18.0.js"></script>
  <link rel="stylesheet" href="./lib/bootstrap-3.3.7.css">
  <style>
    #app {
      padding: 10px;
    }
  </style>
</head>

<body>
  <div id="app">

    <!-- 品牌管理的 panel -->
    <div class="panel panel-primary" style="margin-bottom: 15px;">
      <div class="panel-heading">
        <h3 class="panel-title">品牌管理</h3>
      </div>
      <div class="panel-body form-inline">

        <div class="input-group">
          <span class="input-group-addon">品牌名称：</span>
          <input type="text" class="form-control" v-model='name'>
        </div>

        <div class="input-group">
          <button class="btn btn-primary" @click='addInfo'>添加品牌</button>
        </div>

        <div class="input-group">
          <input type="text" class="form-control" v-model='keywords'>
          <span class="input-group-addon" id="basic-addon2">搜索</span>
        </div>

      </div>
    </div>

    <!-- 品牌列表的表格 -->
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>品牌名称</th>
          <th>创建时间</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for='(item,i) of getKeywordsBybrandlist()' :key='item.id'>
          <td>{{i+1}}</td>
          <td>{{item.name}}</td>
          <td>{{item.ctime | dateFormate}}</td>
          <td>
            <a href="javascript:;" @click='removeInfo(item.id)'>删除</a>
          </td>
        </tr>
      </tbody>
    </table>


  </div>

  <script>
    // 定义全局过滤器，格式化时间
    Vue.filter('dateFormate', (time) => {
      const dt = new Date(time);
      const y = dt.getFullYear();
      const m = (dt.getMonth() + 1).toString().padStart(2, '0');
      const d = dt.getDate().toString().padStart(2, '0');
      const hh = dt.getHours().toString().padStart(2, '0');
      const mm = dt.getMinutes().toString().padStart(2, '0');
      const ss = dt.getSeconds().toString().padStart(2, '0');
      return `${y}-${m}-${d} ${hh}:${mm}:${ss}`
    })

    // vue 实例挂在一个axios的属性
    axios.defaults.baseURL = 'http://39.106.32.91:3000';
    Vue.prototype.$http = axios;
    // 创建 Vue 实例，得到 ViewModel
    var vm = new Vue({
      el: '#app',
      data: {
        brandlist: [],
        name: '',
        keywords:''
      },
      created() {
        this.getInfo()
      },

      methods: {
        // 获取商品信息
        async getInfo() {
          const { data: res } = await this.$http.get('/api/getprodlist');
          if (res.status !== 0) return alert('获取数据失败')
          this.brandlist = res.message;
        },
        // 添加新品牌
        async addInfo() {
          if (this.name.trim().length <= 0) return;
          const { data: res } = await this.$http.post('/api/addproduct', { name: this.name });
          if (res.status !== 0) return alert('请正确填写信息')
          // 如果拿到数据就渲染数据到页面
          this.getInfo();
          // 清空输入框内容
          this.name = '';
        },
        // 根据ID删除对应的数据
        async removeInfo(id) {
          const confrimResult = window.confirm('确认删除此品牌吗');
          // console.log(confrimResult);
          // 用户取消了删除
          if (!confrimResult) return;
          const { data: res } = await this.$http.get('/api/delproduct/'+id);
          if(res.status!==0) return alert('删除信息失败');
          //根据数据渲染视图
          this.getInfo();
        },
        // 搜索商品信息
        getKeywordsBybrandlist(){
          return this.brandlist.filter(item=>item.name.includes(this.keywords));
        }


      }
    });
  </script>
</body>

</html>